.container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 60vw;
    margin: 10vh auto;
    background-color: grey;
    color: white;
}

.fileName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    width: 30vw;
}

.icon:hover{
    cursor: pointer;
}